@using Phrazy.Client.Services
@inject IGameEngine _gameEngine

<div id="dialog" class="@(_isOpen ? "open" : "")">
    <div>
        <div id="closeButton" @onclick="() => Toggle(false)">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </div>
        @if (_isShowResults && _gameEngine.GameState.Results != null)
        {
            <div id="results">
	            <h2>@(_gameEngine.GameState.Results.IsWin ? "You Win!" : "You Lose!")</h2>
	            <div id="solution">@_gameEngine.GameState.Phrase</div>
                <div id="scores">
                    <div>
                        <h3>Guesses</h3>
                        <p>@_gameEngine.GameState.Results.LettersUsed</p>
                    </div>
	                <div>
		                <h3>Time</h3>
		                <p>@TimeSpan.FromSeconds(_gameEngine.GameState.Results.Seconds).ToString(@"mm\:ss")</p>
	                </div>
                   @* <div>
                        <h3>Score</h3>
                        <p>@_gameEngine.GameState.Results.Score</p>
                    </div>*@
                </div>
            </div>
        }
        <div id="rules">
            <h2>How To Play Phrazy</h2>
            <p>Choose letters to guess the phrase. Press solve when you're ready to fill in the blanks. Try to solve with as few letters and as fast as possible! <span class="key">key</span> colors show a <span class="key hit">hit</span> or <span class="key miss">miss</span>. You lose if you pick every letter in the phrase, or the whole alphabet.</p>
        </div>
        <div id="copyright">
            <p>&copy;@DateTime.Now.Year, POP World Media, LLC - <a href="/privacy.html" target="_blank">Privacy Policy</a></p>
        </div>
    </div>
</div>

@code {
    private bool _isShowResults;
    private bool _isOpen;

    protected override void OnInitialized()
    {
        _isOpen = true;
        _gameEngine.OnDialogOpen += Toggle;
	    _gameEngine.OnBoardLoad += RefreshForResults;
    }

	private void RefreshForResults()
	{
		_isShowResults = _gameEngine.GameState.Results != null;
		StateHasChanged();
	}

    private void Toggle(bool isOpen)
    {
        _isOpen = isOpen;
        _isShowResults = _gameEngine.GameState.Results != null;
        StateHasChanged();
    }
}
