@using Phrazy.Client.Models
@using Phrazy.Client.Services
@inject IGameEngine _gameEngine

<div class="letter @(PhraseLetterStateBox.IsFocus ? "focus" : "")">
    <div class="letterContainer @(PhraseLetterStateBox.PhraseLetterState is PhraseLetterState.Guessed or PhraseLetterState.Special or PhraseLetterState.Solve ? "flipped" : "")">
        <div class="@(PhraseLetterStateBox.PhraseLetterState is PhraseLetterState.Won ? "won" : "")">@(PhraseLetterStateBox.PhraseLetterState is PhraseLetterState.Won ? PhraseLetterStateBox.Letter : "")</div>
        <div class="Guessed @(PhraseLetterStateBox.PhraseLetterState is PhraseLetterState.Solve or PhraseLetterState.Won ? "Solve" : "")">@(PhraseLetterStateBox.PhraseLetterState is PhraseLetterState.Guessed or PhraseLetterState.Special ? PhraseLetterStateBox.Letter : "")@(PhraseLetterStateBox.PhraseLetterState is PhraseLetterState.Solve ? PhraseLetterStateBox.SolveLetter : "")</div>
    </div>
</div>

@code {
    [Parameter]
    public PhraseLetterStateBox PhraseLetterStateBox { get; set; } = null!;

    private string _letter = string.Empty;

    protected override void OnInitialized()
    {
        _gameEngine.OnKeyPress += StateHasChanged;
    }
}
